version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: task_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_manager
      RUN_MIGRATIONS: ${RUN_MIGRATIONS}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: task_service
    env_file:
      - .env
    ports:
      - "${APP_PORT}:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
